@import "../../styles/global.variables.scss";

.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  &--link {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 27px;
  }

  &--icon {
    width: 11px;
    height: 11px;
    border-left: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    margin-left: 12px;
    transform: rotate(225deg);
  }
}
